body{
    line-height: 1.6;
    margin:0;
    padding:0;
}

section {

  text-align: center;
  padding: 20px;
}

.carousel-container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
  }
  
.carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out; overflow: hidden;
    position:relative;
  }
  
.carousel-item {
    flex: 0 0 100%;
  }

.carousel-item img {
    width: 100%;
    height: auto;
  } 

.texte {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
  }

  .Home-title {
    color: #fbae4b ;
    font-size: 72px;
  }

.Para-title {
    color: #fbae4b ;
    font-size: 48px;
  }

.para {
    margin: 20px;
    padding: 20px;
    color: #666;
    line-height: 1.6;
    font-size: 20px;
  }

p{
  text-align: justify;
  }
  